html {
  box-sizing: border-box;
}

.navbar-inverse {
  background-color: #273670;
  border-color: #273670;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.btn-primary {
  background-color: #273670;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #2477BF;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.key {
  margin: 20px 5px;
}

button {
  margin: 10px 0px;
}

.display-words {
  /*width: 50%;*/
  float: left;
  padding-right: 5px;
}

.display-etymology {
  /*width: 50%;*/
  /*float: right;*/
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: beige;
}

.word {
  margin: 2px 0px;
  display: inline-block;
}

.latin:hover, .greek:hover, .old-english:hover, .other:hover {
  border-color: black;
}

/*blue*/
.latin {
  padding: 3px;
  background-color: #80c5ff;
  border: solid #5785ab 2px;
}

.key .latin:hover {
  border: solid #5785ab 2px;
}

/*green*/
.greek {
  padding: 3px;
  background-color: #26ed5b;
  border: solid #1fa141 2px;
}

.key .greek:hover {
  border: solid #1fa141 2px;
}

/*pink*/
.old-english {
  padding: 3px;
  background-color: #ffadf3;
  border: solid #a35898 2px;
}

.key .old-english:hover {
  border: solid #a35898 2px;
}

/*yellow*/
.other {
  padding: 3px;
  background-color: #f6ff00;
  border: solid #9da300 2px;
}

.key .other:hover {
  border: solid #9da300 2px;
}

/*red*/
.red {
  padding: 3px;
  background-color: #ff4242;
  border: solid #cf3434 2px;
  color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 1.6;
  background-color: #f5f5f5;
}

footer p {
  margin: 10px 0;
}
